@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/accessibility";

html {
}

body {
    position: relative;
    overflow: hidden;
}

#root {
}

.app_desktop {
    min-width: 1300px;
    position: relative;
    background: var(--white);
    overflow: auto;
    height: 100vh;
}

.app_mobile {
    min-width: 320px;
    position: relative;
    background: var(--white);
}

.menu-open-body {
    overflow-y: hidden;
}

.burger-menu-open-body {
    overflow-y: hidden;
}

.is-loading-body {
    overflow-y: hidden;
}

