@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/accessibility";

body {
    position: relative;
}

#root {

}

.app_desktop {
    min-width: 1420px;
    position: relative;
    background: var(--black-opacity);
}

.app_mobile {
    min-width: 320px;
    position: relative;
    background: var(--white);
}

.menu-open-body {
    overflow-y: hidden;
}

.burger-menu-open-body {
    overflow-y: hidden;
}

.is-loading-body {
    overflow-y: hidden;
}
