.Card {

}

.blue_light {
    background: var(--blue-light);
}

.maxW {
    width: 100%;
}

.borderR4 {
    border-radius: 4px;
}

.borderR8 {
    border-radius: 8px;
}

.borderR16 {
    border-radius: 16px;
}

.borderR32 {
    border-radius: 32px;
}

.borderR64 {
    border-radius: 64px;
}

.borderR128 {
    border-radius: 128px;
}

.borderR10 {
    border-radius: 10px;
}

.borderR20 {
    border-radius: 20px;
}

.borderR30 {
    border-radius: 30px;
}

.borderR40 {
    border-radius: 40px;
}

.borderR50 {
    border-radius: 50px;
}

.borderR60 {
    border-radius: 60px;
}

.borderR70 {
    border-radius: 70px;
}

.borderR80 {
    border-radius: 80px;
}

.borderR90 {
    border-radius: 90px;
}

.borderR100 {
    border-radius: 100px;
}

.borderR110 {
    border-radius: 110px;
}

.borderR120 {
    border-radius: 120px;
}







.borderRtl4 {
    border-top-left-radius: 4px;
}

.borderRtl8 {
    border-top-left-radius: 8px;
}

.borderRtl16 {
    border-top-left-radius: 16px;
}

.borderRtl32 {
    border-top-left-radius: 32px;
}

.borderRtl64 {
    border-top-left-radius: 64px;
}

.borderRtl128 {
    border-top-left-radius: 128px;
}

.borderRtl10 {
    border-top-left-radius: 10px;
}

.borderRtl20 {
    border-top-left-radius: 20px;
}

.borderRtl30 {
    border-top-left-radius: 30px;
}

.borderRtl40 {
    border-top-left-radius: 40px;
}

.borderRtl50 {
    border-top-left-radius: 50px;
}

.borderRtl60 {
    border-top-left-radius: 60px;
}

.borderRtl70 {
    border-top-left-radius: 70px;
}

.borderRtl80 {
    border-top-left-radius: 80px;
}

.borderRtl90 {
    border-top-left-radius: 90px;
}

.borderRtl100 {
    border-top-left-radius: 100px;
}

.borderRtl110 {
    border-top-left-radius: 110px;
}

.borderRtl120 {
    border-top-left-radius: 120px;
}




.borderRtr4 {
    border-top-right-radius: 4px;
}

.borderRtr8 {
    border-top-right-radius: 8px;
}

.borderRtr16 {
    border-top-right-radius: 16px;
}

.borderRtr32 {
    border-top-right-radius: 32px;
}

.borderRtr64 {
    border-top-right-radius: 64px;
}

.borderRtr128 {
    border-top-right-radius: 128px;
}

.borderRtr10 {
    border-top-right-radius: 10px;
}

.borderRtr20 {
    border-top-right-radius: 20px;
}

.borderRtr30 {
    border-top-right-radius: 30px;
}

.borderRtr40 {
    border-top-right-radius: 40px;
}

.borderRtr50 {
    border-top-right-radius: 50px;
}

.borderRtr60 {
    border-top-right-radius: 60px;
}

.borderRtr70 {
    border-top-right-radius: 70px;
}

.borderRtr80 {
    border-top-right-radius: 80px;
}

.borderRtr90 {
    border-top-right-radius: 90px;
}

.borderRtr100 {
    border-top-right-radius: 100px;
}

.borderRtr110 {
    border-top-right-radius: 110px;
}

.borderRtr120 {
    border-top-right-radius: 120px;
}
















.borderRbl4 {
    border-bottom-left-radius: 4px;
}

.borderRbl8 {
    border-bottom-left-radius: 8px;
}

.borderRbl16 {
    border-bottom-left-radius: 16px;
}

.borderRbl32 {
    border-bottom-left-radius: 32px;
}

.borderRbl64 {
    border-bottom-left-radius: 64px;
}

.borderRbl128 {
    border-bottom-left-radius: 128px;
}

.borderRbl10 {
    border-bottom-left-radius: 10px;
}

.borderRbl20 {
    border-bottom-left-radius: 20px;
}

.borderRbl30 {
    border-bottom-left-radius: 30px;
}

.borderRbl40 {
    border-bottom-left-radius: 40px;
}

.borderRbl50 {
    border-bottom-left-radius: 50px;
}

.borderRbl60 {
    border-bottom-left-radius: 60px;
}

.borderRbl70 {
    border-bottom-left-radius: 70px;
}

.borderRbl80 {
    border-bottom-left-radius: 80px;
}

.borderRbl90 {
    border-bottom-left-radius: 90px;
}

.borderRbl100 {
    border-bottom-left-radius: 100px;
}

.borderRbl110 {
    border-bottom-left-radius: 110px;
}

.borderRbl120 {
    border-bottom-left-radius: 120px;
}














.borderRbr4 {
    border-bottom-right-radius: 4px;
}

.borderRbr8 {
    border-bottom-right-radius: 8px;
}

.borderRbr16 {
    border-bottom-right-radius: 16px;
}

.borderRbr32 {
    border-bottom-right-radius: 32px;
}

.borderRbr64 {
    border-bottom-right-radius: 64px;
}

.borderRbr128 {
    border-bottom-right-radius: 128px;
}

.borderRbr10 {
    border-bottom-right-radius: 10px;
}

.borderRbr20 {
    border-bottom-right-radius: 20px;
}

.borderRbr30 {
    border-bottom-right-radius: 30px;
}

.borderRbr40 {
    border-bottom-right-radius: 40px;
}

.borderRbr50 {
    border-bottom-right-radius: 50px;
}

.borderRbr60 {
    border-bottom-right-radius: 60px;
}

.borderRbr70 {
    border-bottom-right-radius: 70px;
}

.borderRbr80 {
    border-bottom-right-radius: 80px;
}

.borderRbr90 {
    border-bottom-right-radius: 90px;
}

.borderRbr100 {
    border-bottom-right-radius: 100px;
}

.borderRbr110 {
    border-bottom-right-radius: 110px;
}

.borderRbr120 {
    border-bottom-right-radius: 120px;
}






































.padding4 {
    padding: 4px;
}

.padding8 {
    padding: 8px;
}

.padding16 {
    padding: 16px;
}

.padding32 {
    padding: 32px;
}

.padding64 {
    padding: 64px;
}

.padding128 {
    padding: 128px;
}

.padding10 {
    padding: 10px;
}

.padding20 {
    padding: 20px;
}

.padding30 {
    padding: 30px;
}

.padding40 {
    padding: 40px;
}

.padding50 {
    padding: 50px;
}

.padding60 {
    padding: 60px;
}

.padding70 {
    padding: 70px;
}

.padding80 {
    padding: 80px;
}

.padding90 {
    padding: 90px;
}

.padding100 {
    padding: 100px;
}

.padding110 {
    padding: 110px;
}

.padding120 {
    padding: 120px;
}







.paddingT4 {
    padding-top: 4px;
}

.paddingT8 {
    padding-top: 8px;
}

.paddingT16 {
    padding-top: 16px;
}

.paddingT32 {
    padding-top: 32px;
}

.paddingT64 {
    padding-top: 64px;
}

.paddingT128 {
    padding-top: 128px;
}

.paddingT10 {
    padding-top: 10px;
}

.paddingT20 {
    padding-top: 20px;
}

.paddingT30 {
    padding-top: 30px;
}

.paddingT40 {
    padding-top: 40px;
}

.paddingT50 {
    padding-top: 50px;
}

.paddingT60 {
    padding-top: 60px;
}

.paddingT70 {
    padding-top: 70px;
}

.paddingT80 {
    padding-top: 80px;
}

.paddingT90 {
    padding-top: 90px;
}

.paddingT100 {
    padding-top: 100px;
}

.paddingT110 {
    padding-top: 110px;
}

.paddingT120 {
    padding-top: 120px;
}




.paddingR4 {
    padding-right: 4px;
}

.paddingR8 {
    padding-right: 8px;
}

.paddingR16 {
    padding-right: 16px;
}

.paddingR32 {
    padding-right: 32px;
}

.paddingR64 {
    padding-right: 64px;
}

.paddingR128 {
    padding-right: 128px;
}

.paddingR10 {
    padding-right: 10px;
}

.paddingR20 {
    padding-right: 20px;
}

.paddingR30 {
    padding-right: 30px;
}

.paddingR40 {
    padding-right: 40px;
}

.paddingR50 {
    padding-right: 50px;
}

.paddingR60 {
    padding-right: 60px;
}

.paddingR70 {
    padding-right: 70px;
}

.paddingR80 {
    padding-right: 80px;
}

.paddingR90 {
    padding-right: 90px;
}

.paddingR100 {
    padding-right: 100px;
}

.paddingR110 {
    padding-right: 110px;
}

.paddingR120 {
    padding-right: 120px;
}
















.paddingB4 {
    padding-bottom: 4px;
}

.paddingB8 {
    padding-bottom: 8px;
}

.paddingB16 {
    padding-bottom: 16px;
}

.paddingB32 {
    padding-bottom: 32px;
}

.paddingB64 {
    padding-bottom: 64px;
}

.paddingB128 {
    padding-bottom: 128px;
}

.paddingB10 {
    padding-bottom: 10px;
}

.paddingB20 {
    padding-bottom: 20px;
}

.paddingB30 {
    padding-bottom: 30px;
}

.paddingB40 {
    padding-bottom: 40px;
}

.paddingB50 {
    padding-bottom: 50px;
}

.paddingB60 {
    padding-bottom: 60px;
}

.paddingB70 {
    padding-bottom: 70px;
}

.paddingB80 {
    padding-bottom: 80px;
}

.paddingB90 {
    padding-bottom: 90px;
}

.paddingB100 {
    padding-bottom: 100px;
}

.paddingB110 {
    padding-bottom: 110px;
}

.paddingB120 {
    padding-bottom: 120px;
}














.paddingL4 {
    padding-left: 4px;
}

.paddingL8 {
    padding-left: 8px;
}

.paddingL16 {
    padding-left: 16px;
}

.paddingL32 {
    padding-left: 32px;
}

.paddingL64 {
    padding-left: 64px;
}

.paddingL128 {
    padding-left: 128px;
}

.paddingL10 {
    padding-left: 10px;
}

.paddingL20 {
    padding-left: 20px;
}

.paddingL30 {
    padding-left: 30px;
}

.paddingL40 {
    padding-left: 40px;
}

.paddingL50 {
    padding-left: 50px;
}

.paddingL60 {
    padding-left: 60px;
}

.paddingL70 {
    padding-left: 70px;
}

.paddingL80 {
    padding-left: 80px;
}

.paddingL90 {
    padding-left: 90px;
}

.paddingL100 {
    padding-left: 100px;
}

.paddingL110 {
    padding-left: 110px;
}

.paddingL120 {
    padding-left: 120px;
}






