.SmallNewsMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
    width: calc((100% - 10px) / 2);
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        transform: scale(1.04);
    }
}

.title {
    width: 100%;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}