.Cover {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.bgImg {
    position: relative;
    width: 100%;
    height: 100%;
}

.bgImg::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    backdrop-filter: blur(8px) brightness(20%);
    animation: LighteningBg 1s ease-in forwards;
}

.bgImg::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--black-opacity);
    z-index: 3;
}

.skew {
    position: absolute;
    width: 500px;
    margin-left: auto;
    top: 0;
    bottom: 0;
    right: 5%;
    transform: skew(12deg);
}

.skew::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    backdrop-filter: brightness(30%);
    animation: Lightening 0.5s 1s ease-in forwards;
}

.skewImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 70% 200px;
    background: var(--black);
    animation: Insert 0.7s ease-in forwards;
}


.content {
    position: absolute;
    z-index: 4;
    bottom: 70px;
    left: 0;
    right: 0;
    padding-inline: 55px;
}

.small {
    height: 155px;
}

.large {
    height: 100vh;
}

@keyframes Lightening {
    from {
        backdrop-filter: brightness(30%);
    }
    to {
        backdrop-filter: brightness(100%);
    }
}

@keyframes LighteningBg {
    from {
        backdrop-filter: blur(8px) brightness(20%);
    }
    to {
        backdrop-filter: blur(8px) brightness(100%);
    }
}

@keyframes Insert {
    from {
        object-position: 70% 200px;
    }
    to {
        object-position: 85% 0;
    }
}
