.Cover {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.bgImg {
    position: relative;
    width: 100%;
    height: 100%;
}

.bgImg::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    backdrop-filter: blur(10px) brightness(30%);
    animation: LighteningBg 1s ease-in forwards;
    animation-delay: 0.5s;
}

.bgImg::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--black-opacity);
    z-index: 3;
}

.skew {
    position: absolute;
    width: 500px;
    margin-left: auto;
    top: 0;
    bottom: 0;
    right: 5%;
    transform: skew(12deg);
    box-shadow: 0 0 4px -2px var(--white4);
}

.skew::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    backdrop-filter: brightness(30%);
    animation: Lightening 1s ease-in forwards;
    animation-delay: 0.5s;
}

.skewImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 70% 200px;
    animation: Insert 0.5s ease-in forwards;
}


.content {
    position: absolute;
    z-index: 4;
    bottom: 70px;
    left: 0;
    right: 0;
    padding-inline: 55px;
}

.small {
    height: 155px;
    .skew {
        width: 300px;
        right: 1%;
    }
}

.large {
    height: 100vh;
}

@keyframes Lightening {
    from {
        backdrop-filter: brightness(30%);
    }
    to {
        backdrop-filter: brightness(100%);
    }
}

@keyframes LighteningBg {
    from {
        backdrop-filter: blur(10px) brightness(30%);
    }
    to {
        backdrop-filter: blur(10px) brightness(100%);
    }
}

@keyframes Insert {
    from {
        object-position: 70% 200px;
    }
    to {
        object-position: 85% 50%;
    }
}
