.PageLoaderDesktop {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 110;
    animation: GradientToRight 1s ease-out infinite;
    background: var(--blue);
    cursor: wait;

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 110%;
        height: 300%;
        transform: translateX(-150%) translateY(-80%);
        background: linear-gradient(90deg, rgba(25,35,102,0) 0%, rgba(114,126,196,0.3) 50%, rgba(25,35,102,0) 100%);
        animation: load 2s ease infinite;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 110%;
        height: 300%;
        transform: translateX(-150%) translateY(-80%);
        background: linear-gradient(90deg, rgba(25,35,102,0) 0%, rgba(114,126,196,0.3) 50%, rgba(25,35,102,0) 100%);
        animation: load 2s ease infinite;
        animation-delay: 0.4s;
    }
}


@keyframes load {
    0% {
        transform: translateX(-150%) translateY(-80%) rotateZ(30deg);
    }
    100% {
        transform: translateX(200%) translateY(80%) rotateZ(30deg);
    }
}


.icon {
    cursor: wait;
    transform: scale(1.4);
}
