.ImageMobile {
    position: relative;
}

.cornerUpper {
    position: absolute !important;
    left: -5px;
    top: -5px;
}

.cornerLower {
    position: absolute !important;
    bottom: -5px;
    right: -5px;
}

.arrowUpper {
    position: absolute !important;
    right: -8px;
    top: -8px;
}

.arrowLower {
    position: absolute !important;
    bottom: -9px;
    left: -9px;
}

