.Button {
    font: var(--font-button-desktop);
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    background: none;
    border: none;
    outline: none;
    padding: 0;
}

.white {
    color: var(--white4);
}