.Button {
    font: var(--font-button-desktop);
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    background: none;
    border: none;
    outline: none;
    padding: 0;
}

.white {
    color: var(--white4);
    transition: opacity 0.2s ease-in;
    &:hover {
        opacity: 0.6;
    }
}