.NewsPageTitleDesktop {

}

.titleWrapper {
    flex-grow: 1;
    padding-bottom: 10px;
}

.mainNewsWrapper {
    box-shadow:  0 -2px 2px -2px var(--grey);
}

.subtitle {
    width: 20rem;
    text-decoration: underline;
}