.Icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg {
    transition: all 0.3s ease-out;
}

.hoveredSvg {
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.isClickable {
    cursor: pointer;
}

.isNotPassive {
    cursor: pointer;
    &:hover {
        .hoveredSvg {
            opacity: 1;
        }
        .svg {
            opacity: 0;
        }
    }
}

.menu_arrow {
    .svg {
        fill: var(--blue);
    }
    background: var(--blue-light);
    border-radius: 18px;
    width: 22px;
    height: 22px;
}
