.app_normal_theme {
    --white: #F7F9FA;
    --blue-light: #DAE7F2;
    --black: #292E33;
    --grey-light: #EFF1F2;
    --dark: #293A47;
    --dark2: #233340;
    --grey: #A6ADB2;
    --grey-light2: #DAE0E5;
    --grey2: #A1AAB2;
    --white2: #E6ECF2;
    --white3: #FAFBFC;
    --grey3: #7A8893;
    --black-opacity: rgba(0, 0, 0, 0.2);
    --white4: #FFFFFF;
    --blue: #3985BF;
    --blue2: #1C8BE5;
    --blue3: #73B2E5;
    --green: #53D941;
    --red: #D94144;
}
