.PageLoaderMobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 110;
    background: var(--blue);
    cursor: wait;
}

.pulseWrapper {
    position: relative;
}

.icon {
    position: relative;
    z-index: 2;
    transform: scale(1);
    animation: Blink 2s ease infinite;
}

.pulse {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4%;
    content: '';
    background: var(--white);
    opacity: 1;
    transform: scale(1);
    animation: Pulse1 2s ease infinite;
}

.pulse2 {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4%;
    content: '';
    background: var(--white);
    opacity: 1;
    transform: scale(1);
    animation: Pulse2 2s ease infinite;
}

@keyframes Blink {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(0.95);
    }
    10% {
        transform: scale(1);
    }
    20% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.95);
    }
    30% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes Pulse1 {
    5% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(6);
    }
}

@keyframes Pulse2 {
    25% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(6);
    }
}